@{
    ViewData["Title"] = "Home Page";
}

<style>
    a:link {
        color: lightgrey;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: lightgrey;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<div class="card">
    <div class="text-center">
        <img src="https://cdn.dribbble.com/users/5655995/screenshots/14068633/dribble_yv.jpg"
             height="200"
             width="500" />
        <h1 class="display-1">Welcome to BookaGym</h1>
    </div>
    <div class="card">
        <div class="text-center" style="background-color: darkslategrey;">
            <font size="5" , color="black">
                <p></p>
                <a href="https://localhost:7178">Login</a>
                <br />
                <a href="https://localhost:7178">Signup</a>
                <br />
                <a href="https://localhost:7178">Forum</a>
                <br />
                <a href="https://localhost:7178">Book an appointment</a>
                <br />
                <p></p>

            </font>
        </div>
    </div>
</div>
