@page
@model Webservice.Pages.AdminPageModel
@{
}
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookAGym</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-page="/AdminPage" class="nav-link text-dark" asp-area="">View Users</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/ForumPage" class="nav-link text-dark" asp-area="">View Forum</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/AdminPage" class="nav-link text-dark" asp-area=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <h1>View All Users</h1>

    <table class="table">
    <br/>
    <p>
    <a asp-page="/Create">Add Admin Account</a>
    </p>
    <br/>
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            <th></th>
        </tr>
    </thead>
</table>
