@page
@using Webservice.DatabaseHelper
@using Webservice.ContextHelpers
@inject DatabaseContextHelper context
@model Webservice.Pages.HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/site.css">

<!DOCTYPE html>
<html lang="en">
<head>

     <title>BookAGYM</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-gymso-style.css">

</head>
@{
		string name = "null";
        name = HttpContext.Session.GetString("AccountName");
        }
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="index.html">BookAGYM</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a asp-page="/ClientPage" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a asp-page="BookingPage" class="nav-link smoothScroll">Book An Appointment</a>
                    </li>

                    <li class="nav-item">
                        <a asp-page="/Annoucements" class="nav-link smoothScroll">Annoucements</a>
                    </li>

                    <li class="nav-item">
                        <a href="#schedule" class="nav-link smoothScroll">About Us</a>
                    </li>
                        <text class="btn custom-btn mt-3">@name</text>
                    <li class="nav-item">
                        
                    </li>
                </ul>

            </div>

        </div>
    </nav>

          <!-- CONTACT -->
     <section class="contact section" id="contact">
          <div class="container">
               <div class="row">

                    <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                        <h2 class="mb-4" data-aos="fade-up" data-aos-delay="200"><span>Annoucements</span></h2>
                        @foreach(var item in Announcement_db.AllAnnouncement(context.DBContext)){
                        <div class="announcement">
                                <h2>@item.Header</h2>
                                <p>@item.Comment</p>
                            </div>
                        }
                    </div>
                    
               </div>
          </div>
     </section>

          <!-- FOOTER -->
     <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-4 col-md-5">
                        <p class="copyright-text">Copyright &copy; 2022 BookAGYM ltd.
                        
                    </div>

                    <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                        <p class="mr-4">
                            <i class="fa fa-envelope-o mr-1"></i>
                            <a href="#">contact@bookagym.com</a>
                        </p>

                        <p><i class="fa fa-phone mr-1"></i> (403) 999 9999</p>
                    </div>
                    
               </div>
          </div>
     </footer>

     
    <!-- Modal -->
    <div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">

            <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div class="modal-footer"></div>

        </div>
      </div>
    </div>
         <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>
